.loading{
    width:200px;
    height:200px;
    position:relative;
    
  }
  .loading::before, .loading::after{
    content:'';
    width: 0px;
    height: 0px;
    position:absolute;
    background: grey;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    margin:auto; 
    border-radius:50%;
    animation: s 2s linear infinite;  
  }
  .loading::after{
    animation-delay:1s;
  }
  
  @keyframes s{
    0%{
      width:0px;height: 0px;opacity: 1;
    }
    100%{
      width: 100px;height: 100px;opacity: 0;
    }
  }