body{
    background:#efefef;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}
ul,ol{
    list-style: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
[data-x].active{
    outline: 10px solid red;
}

[data-x].offset{
    transform: translateY(80px);
}
[data-x]{
    transform: translateY(0px);
    transition: all 0.5s;
}

.topNavBar{
    padding:20px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 0.5s;
    color: #b7b7b7;
}
.topNavBar.sticky{
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color:#3d4451;
}
.topNavBar-inner{
    padding: 0px 16px;
}
.topNavBar nav{
    padding-top: 3px;
    padding-bottom: 3px;
}
.topNavBar nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;

}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
    font-size: 13px;
}
.topNavBar nav>ul>li>a{
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: relative;
}
.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after{
    content: '';
    display:block;
    position: absolute;
    top: 100%;
    bottom:0;
    width: 100%;
    background: #e6686a;
    height: 3px;
    animation: menuSlide 0.3s;
}

@keyframes menuSlide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topNavBar .submenu{
    display: none;
    position:absolute;
    right: -15px;
    top: 100%;
    background: white;
    color:#3d4451;
    cursor: pointer;
}
.topNavBar li.active>.submenu{
    display: block;
    animation:submenuSlide 0.3s;
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}
.topNavBar .submenu > li{
    white-space: nowrap;
    padding: 5px 10px;
}
            

.topNavBar .logo{
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 3px;
}

.topNavBar .logo .rs{
    margin-right: 4px;
    color: #e6686a;
    
}
.topNavBar .logo .card{
    color: #9a9da2;
}
.banner{
    height: 515px;
    background-image: url(./img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color:rgba(0,0,0,0.5);

}
.usercard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);/*加阴影*/
}
body > main{
    margin-top: -340px;
}
body > main .downloadResume-wrapper{
    text-align: center;
}
body > main .downloadResume{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border:1px solid #cdcfd1;
    display: inline-block;
    background: #efefef;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s; /* hover过渡效果为0.2s */
}
body > main .downloadResume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
}

.selfIntroducation{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kaiti;
    font-size: 18px;
}
.usercard .welcome{
    background: #e6686a;
    color:white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.usercard .welcome .triangle{
    display: block;
    border:10px solid transparent;
    width:0px;
    border-left-color:black;
    border-top-width:0px;
    position: absolute;
    top: 100%;
    left: 4px;
}

.usercard .picture{
    float: left;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.usercard .text h1{
    margin-top: 18px;
}
.usercard .text hr{
    margin: 20px 0;
}
.usercard .pictureAndText{
    padding: 50px;
}
.usercard dl dt,
.usercard dl dd{
    float: left;
    padding: 5px 0;
}
.usercard dl dt{
    width: 30%;
    font-weight: bold;
}
.usercard dl dd{
    width: 70%;
    color: #9da0a7
}
.usercard > footer.media{
    background-color: #e6686a;
    text-align: center;
}
.usercard > footer.media > a{
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.usercard > footer.media > a:hover{
    background: #cf5d5f;
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 .site-welcome{
     display: none;
     position: fixed;
     top: 0;left: 0;width: 100%;height: 100%;
     background:rgb(255, 255, 255);
     z-index: 1;
     justify-content: center;
     align-items: center;
     
 }
 .site-welcome.active{
     display:flex;
 }
section.skills,
section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
section.skills h2,
section.message h2,
section.portfolio h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}
section.skills ol{
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}
section.skills ol li{
    float: left;
    width: 48%;
    box-sizing: border-box;/*加入box-sizing后padding算在48%之内，为了实现两端留出的空隙一样*/
}
section.skills ol li:nth-child(even) {/*nth-child是伪类，与hover类似。
    even表示偶数，当你是偶数时执行右浮，odd为奇数。为了实现两端留出的空隙一样*/
    float: right;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills .progressBar{
    height: 3px;
    background: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px ;
    overflow: hidden;
}
section.skills .progress{
    height: 3px;
    width: 75%;
    background: #e6686a;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}
section.skills.offset .progress{
    transform: translateX(-100%);/*给进度条加动画*/
}
section.portfolio{
    text-align: center;
    margin-bottom: 100px;
    max-width: 720px;
}
section.portfolio nav{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 32px;
}
section.portfolio nav ol{
   
    margin: 0 auto;
    display: inline-block;/*使文字块状收缩*/
    vertical-align: top;/*可解决加完inline-block后下面带来的一小段空隙*/

}
section.portfolio nav ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;/*使鼠标点击变手势型*/
}
section.portfolio nav ol li:nth-child(1){/*使第1个不向左移40px，否则影响居中。nth-child(1)也可写为first-child*/
    margin-left: 0px;
}
section.portfolio nav .bar{
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 45px;
    border-radius: 2px;
    
}
section.portfolio nav .bar-inner{
    height: 100%;
    background: #e6686a;
    width: 10%;
    border-radius: 2px;
    transition: all 0.3s;/*加入过度动画，使所有动画过度时间为0.3s*/
    
}
section.portfolio nav .bar.state-1 .bar-inner{/*加入bar的三种状态，然后通过javascript实现*/
    margin-left: 0;
    width: 50px;
}
section.portfolio nav .bar.state-2 .bar-inner{
    margin-left: 65px;
    width: 50px;
}
section.portfolio nav .bar.state-3 .bar-inner{
    margin-left: 140px;
    width: 96px;
}
section.portfolio .works{
    position: relative;
}
section.portfolio .works .big,
section.portfolio .works .small{
    position: absolute;
}

section.portfolio .swiper-container {
    width: 668px;
    height: 501px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
section.portfolio .swiper-slide{
    background: white;
}

section.portfolio .swiper-button-prev,
section.portfolio .swiper-button-next{
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    right: 100%;
    left: auto;
    top: 60%;
    outline: none;
}
section.portfolio .swiper-button-next{
    left: 100%;
    right: auto;
}
section.message h2{
    margin-bottom: 50px;
}
section.message ol{
    max-width: 700px;
    margin: 0 auto;
    border-top: 1px solid #DDD;
}
section.message ol li{
    padding: 16px;
    border-bottom: 1px solid #DDD
}
/*loading小动画*/
section.loading{
    width:200px;
    height:200px;
    position:relative;
    
  }
  .loading::before, .loading::after{
    content:'';
    width: 0px;
    height: 0px;
    position:absolute;
    background: grey;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    margin:auto; 
    border-radius:50%;
    animation: s 2s linear infinite;  
  }
  .loading::after{
    animation-delay:1s;
  }
  
  @keyframes s{
    0%{
      width:0px;height: 0px;opacity: 1;
    }
    100%{
      width: 100px;height: 100px;opacity: 0;
    }
  }